
	<%= form_for @survey do |f| %>	 
<%= f.error_messages %>
	 
	<div id="details">
	<p>We thank you for taking the time to take this survey. By filling this survey out you will not only help us to better ourselves, but you will also receive a $20 Thursday card to enjoy at our restaurant!  We hope you have enjoyed your dining experience and look forward to serving you for years to come!  While we always appreciate your comments we can only send out one Thursday card per receipt, per person, per month. Most of this information can be found on your receipt. </p>
	</div>

	<div id="questions">
	<p>Please provide us with the following information. The form must be complete to receive the $20 Thursday card</p>

	  <fieldset>
			<legend><h3>Contact</h3></legend>
		
			<label>First Name:</label>
			<%= text_field(:survey, :first_name ) %><%= mark_required(@survey, :first_name) %></br>

			<label>Last Name:</label>
			<%= text_field(:survey, :last_name ) %><%= mark_required(@survey, :last_name) %></br>

			<label>E-mail Address:</label>
			<%= text_field(:survey, :email ) %><%= mark_required(@survey, :email) %></br>

			<label>City:</label>
			<%= text_field(:survey, :city ) %><%= mark_required(@survey, :city) %>

	  <label>State:</label>
	<select name="survey[state]" value=''>Select State</option>
		<OPTION VALUE="MI">Michigan</OPTION> 
		<OPTION VALUE="AL">Alabama</OPTION> 
		<OPTION VALUE="AK">Alaska</OPTION> 
		<OPTION VALUE="AZ">Arizona</OPTION> 
		<OPTION VALUE="AR">Arkansas</OPTION> 
		<OPTION VALUE="CA">California</OPTION> 
		<OPTION VALUE="CO">Colorado</OPTION> 
		<OPTION VALUE="CT">Connecticut</OPTION> 
		<OPTION VALUE="DE">Delaware</OPTION> 
		<OPTION VALUE="DC">District of Columbia</OPTION> 
		<OPTION VALUE="FL">Florida</OPTION> 
		<OPTION VALUE="GA">Georgia</OPTION> 
		<OPTION VALUE="HI">Hawaii</OPTION> 
		<OPTION VALUE="ID">Idaho</OPTION> 
		<OPTION VALUE="IL">Illinois</OPTION> 
		<OPTION VALUE="IN">Indiana</OPTION> 
		<OPTION VALUE="IA">Iowa</OPTION> 
		<OPTION VALUE="KS">Kansas</OPTION> 
		<OPTION VALUE="KY">Kentucky</OPTION> 
		<OPTION VALUE="LA">Louisiana</OPTION> 
		<OPTION VALUE="ME">Maine</OPTION> 
		<OPTION VALUE="MD">Maryland</OPTION> 
		<OPTION VALUE="MA">Massachusetts</OPTION> 
		<OPTION VALUE="MI">Michigan</OPTION> 
		<OPTION VALUE="MN">Minnesota</OPTION> 
		<OPTION VALUE="MS">Mississippi</OPTION> 
		<OPTION VALUE="MO">Missouri</OPTION> 
		<OPTION VALUE="MT">Montana</OPTION> 
		<OPTION VALUE="NE">Nebraska</OPTION> 
		<OPTION VALUE="NV">Nevada</OPTION> 
		<OPTION VALUE="NH">New Hampshire</OPTION> 
		<OPTION VALUE="NJ">New Jersey</OPTION> 
		<OPTION VALUE="NM">New Mexico</OPTION> 
		<OPTION VALUE="NY">New York</OPTION> 
		<OPTION VALUE="NC">North Carolina</OPTION> 
		<OPTION VALUE="ND">North Dakota</OPTION> 
		<OPTION VALUE="OH">Ohio</OPTION> 
		<OPTION VALUE="OK">Oklahoma</OPTION> 
		<OPTION VALUE="OR">Oregon</OPTION> 
		<OPTION VALUE="PA">Pennsylvania</OPTION> 
		<OPTION VALUE="RI">Rhode Island</OPTION> 
		<OPTION VALUE="SC">South Carolina</OPTION> 
		<OPTION VALUE="SD">South Dakota</OPTION> 
		<OPTION VALUE="TN">Tennessee</OPTION> 
		<OPTION VALUE="TX">Texas</OPTION> 
		<OPTION VALUE="UT">Utah</OPTION> 
		<OPTION VALUE="VT">Vermont</OPTION> 
		<OPTION VALUE="VA">Virginia</OPTION> 
		<OPTION VALUE="WA">Washington</OPTION> 
		<OPTION VALUE="WV">West Virginia</OPTION> 
		<OPTION VALUE="WI">Wisconsin</OPTION> 
		<OPTION VALUE="WY">Wyoming</OPTION> 

	  </SELECT></br>
		  <label>Country:</label>
	<%= country_select(:survey, :country_name, [], :include_blank => 'Please choose...') %>

	  </fieldset>

	  <fieldset>
		<legend><h3>Customer Visiting Infomation</h3></legend>
	  <label>Birthday:</label>
	<select name="survey[birthday_month]" value=''>Select Month</option>
	<OPTION VALUE="">(Month)</OPTION> 
	<option value='01'>January</option>
	<option value='02'>February</option>
	<option value='03'>March</option>
	<option value='04'>April</option>
	<option value='05'>May</option>
	<option value='06'>June</option>
	<option value='07'>July</option>
	<option value='08'>August</option>
	<option value='09'>September</option>
	<option value='10'>October</option>
	<option value='11'>November</option>
	<option value='12'>December</option>
	</select>
	<select name="survey[birthday_day]" >
	<OPTION VALUE="">(Day)</OPTION> 
	<option value='01'>01</option>
	<option value='02'>02</option>
	<option value='03'>03</option>
	<option value='04'>04</option>
	<option value='05'>05</option>
	<option value='06'>06</option>
	<option value='07'>07</option>
	<option value='08'>08</option>
	<option value='09'>09</option>
	<option value='10'>10</option>
	<option value='11'>11</option>
	<option value='12'>12</option>
	<option value='13'>13</option>
	<option value='14'>14</option>
	<option value='15'>15</option>
	<option value='16'>16</option>
	<option value='17'>17</option>
	<option value='18'>18</option>
	<option value='19'>19</option>
	<option value='20'>20</option>
	<option value='21'>21</option>
	<option value='22'>22</option>
	<option value='23'>23</option>
	<option value='24'>24</option>
	<option value='25'>25</option>
	<option value='26'>26</option>
	<option value='27'>27</option>
	<option value='28'>28</option>
	<option value='29'>29</option>
	<option value='30'>30</option>
	<option value='31'>31</option>
	</select>

	<select name="survey[birthday_year]">
		<OPTION VALUE="">(Year)</OPTION> 
		<option value="2011">2011</option>
		<option value="2010">2010</option>
		<option value="2009">2009</option>
		<option value="2008">2008</option>
		<option value="2007">2007</option>
		<option value="2006">2006</option>
		<option value="2005">2005</option>
		<option value="2004">2004</option>
		<option value="2003">2003</option>
		<option value="2002">2002</option>
		<option value="2001">2001</option>
		<option value="2000">2000</option>
		<option value="1999">1999</option>
		<option value="1998">1998</option>
		<option value="1997">1997</option>
		<option value="1996">1996</option>
		<option value="1995">1995</option>
		<option value="1994">1994</option>
		<option value="1993">1993</option>
		<option value="1992">1992</option>
		<option value="1991">1991</option>
		<option value="1990">1990</option>
		<option value="1989">1989</option>
		<option value="1988">1988</option>
		<option value="1987">1987</option>
		<option value="1986">1986</option>
		<option value="1985">1985</option>
		<option value="1984">1984</option>
		<option value="1983">1983</option>
		<option value="1982">1982</option>
		<option value="1981">1981</option>
		<option value="1980">1980</option>
		<option value="1979">1979</option>
		<option value="1978">1978</option>
		<option value="1977">1977</option>
		<option value="1976">1976</option>
		<option value="1975">1975</option>
		<option value="1974">1974</option>
		<option value="1973">1973</option>
		<option value="1972">1972</option>
		<option value="1971">1971</option>
		<option value="1970">1970</option>
		<option value="1969">1969</option>
		<option value="1968">1968</option>
		<option value="1967">1967</option>
		<option value="1966">1966</option>
		<option value="1965">1965</option>
		<option value="1964">1964</option>
		<option value="1963">1963</option>
		<option value="1962">1962</option>
		<option value="1961">1961</option>
		<option value="1960">1960</option>
		<option value="1959">1959</option>
		<option value="1958">1958</option>
		<option value="1957">1957</option>
		<option value="1956">1956</option>
		<option value="1955">1955</option>
		<option value="1954">1954</option>
		<option value="1953">1953</option>
		<option value="1952">1952</option>
		<option value="1951">1951</option>
		<option value="1950">1950</option>
		<option value="1949">1949</option>
		<option value="1948">1948</option>
		<option value="1947">1947</option>
		<option value="1946">1946</option>
		<option value="1945">1945</option>
		<option value="1944">1944</option>
		<option value="1943">1943</option>
		<option value="1942">1942</option>
		<option value="1941">1941</option>
		<option value="1940">1940</option>
		<option value="1939">1939</option>
		<option value="1938">1938</option>
		<option value="1937">1937</option>
		<option value="1936">1936</option>
		<option value="1935">1935</option>
		<option value="1934">1934</option>
		<option value="1933">1933</option>
		<option value="1932">1932</option>
		<option value="1931">1931</option>
		<option value="1930">1930</option>
		<option value="1929">1929</option>
		<option value="1928">1928</option>
		<option value="1927">1927</option>
		<option value="1926">1926</option>
		<option value="1925">1925</option>
		<option value="1924">1924</option>
		<option value="1923">1923</option>
		<option value="1922">1922</option>
		<option value="1921">1921</option>
		<option value="1920">1920</option>
		<option value="1919">1919</option>
		<option value="1918">1918</option>
		<option value="1917">1917</option>
		<option value="1916">1916</option>
		<option value="1915">1915</option>
		<option value="1914">1914</option>
		<option value="1913">1913</option>
		<option value="1912">1912</option>
		<option value="1911">1911</option>
		<option value="1910">1910</option>
		<option value="1909">1909</option>
		<option value="1908">1908</option>
		<option value="1907">1907</option>
		<option value="1906">1906</option>
		<option value="1905">1905</option>
		<option value="1904">1904</option>
		<option value="1903">1903</option>
		<option value="1902">1902</option>
		<option value="1901">1901</option>
		<option value="1900">1900</option>
	   </select></br>

	  <label>Anniversary (If applicable.):</label>
	<select name="survey[anniversary_month]" value=''>Select Month</option>
	<OPTION VALUE="">(Month)</OPTION> 
	<option value='01'>January</option>
	<option value='02'>February</option>
	<option value='03'>March</option>
	<option value='04'>April</option>
	<option value='05'>May</option>
	<option value='06'>June</option>
	<option value='07'>July</option>
	<option value='08'>August</option>
	<option value='09'>September</option>
	<option value='10'>October</option>
	<option value='11'>November</option>
	<option value='12'>December</option>
	</select>
	<select name="survey[anniversary_day]" >
		<OPTION VALUE="">(Day)</OPTION> 
	<option value='01'>01</option>
	<option value='02'>02</option>
	<option value='03'>03</option>
	<option value='04'>04</option>
	<option value='05'>05</option>
	<option value='06'>06</option>
	<option value='07'>07</option>
	<option value='08'>08</option>
	<option value='09'>09</option>
	<option value='10'>10</option>
	<option value='11'>11</option>
	<option value='12'>12</option>
	<option value='13'>13</option>
	<option value='14'>14</option>
	<option value='15'>15</option>
	<option value='16'>16</option>
	<option value='17'>17</option>
	<option value='18'>18</option>
	<option value='19'>19</option>
	<option value='20'>20</option>
	<option value='21'>21</option>
	<option value='22'>22</option>
	<option value='23'>23</option>
	<option value='24'>24</option>
	<option value='25'>25</option>
	<option value='26'>26</option>
	<option value='27'>27</option>
	<option value='28'>28</option>
	<option value='29'>29</option>
	<option value='30'>30</option>
	<option value='31'>31</option>
	</select>

	<select name="survey[anniversary_year]">
		<OPTION VALUE="">(Year)</OPTION> 
		<option value="2011">2011</option>
		<option value="2010">2010</option>
		<option value="2009">2009</option>
		<option value="2008">2008</option>
		<option value="2007">2007</option>
		<option value="2006">2006</option>
		<option value="2005">2005</option>
		<option value="2004">2004</option>
		<option value="2003">2003</option>
		<option value="2002">2002</option>
		<option value="2001">2001</option>
		<option value="2000">2000</option>
		<option value="1999">1999</option>
		<option value="1998">1998</option>
		<option value="1997">1997</option>
		<option value="1996">1996</option>
		<option value="1995">1995</option>
		<option value="1994">1994</option>
		<option value="1993">1993</option>
		<option value="1992">1992</option>
		<option value="1991">1991</option>
		<option value="1990">1990</option>
		<option value="1989">1989</option>
		<option value="1988">1988</option>
		<option value="1987">1987</option>
		<option value="1986">1986</option>
		<option value="1985">1985</option>
		<option value="1984">1984</option>
		<option value="1983">1983</option>
		<option value="1982">1982</option>
		<option value="1981">1981</option>
		<option value="1980">1980</option>
		<option value="1979">1979</option>
		<option value="1978">1978</option>
		<option value="1977">1977</option>
		<option value="1976">1976</option>
		<option value="1975">1975</option>
		<option value="1974">1974</option>
		<option value="1973">1973</option>
		<option value="1972">1972</option>
		<option value="1971">1971</option>
		<option value="1970">1970</option>
		<option value="1969">1969</option>
		<option value="1968">1968</option>
		<option value="1967">1967</option>
		<option value="1966">1966</option>
		<option value="1965">1965</option>
		<option value="1964">1964</option>
		<option value="1963">1963</option>
		<option value="1962">1962</option>
		<option value="1961">1961</option>
		<option value="1960">1960</option>
		<option value="1959">1959</option>
		<option value="1958">1958</option>
		<option value="1957">1957</option>
		<option value="1956">1956</option>
		<option value="1955">1955</option>
		<option value="1954">1954</option>
		<option value="1953">1953</option>
		<option value="1952">1952</option>
		<option value="1951">1951</option>
		<option value="1950">1950</option>
		<option value="1949">1949</option>
		<option value="1948">1948</option>
		<option value="1947">1947</option>
		<option value="1946">1946</option>
		<option value="1945">1945</option>
		<option value="1944">1944</option>
		<option value="1943">1943</option>
		<option value="1942">1942</option>
		<option value="1941">1941</option>
		<option value="1940">1940</option>
		<option value="1939">1939</option>
		<option value="1938">1938</option>
		<option value="1937">1937</option>
		<option value="1936">1936</option>
		<option value="1935">1935</option>
		<option value="1934">1934</option>
		<option value="1933">1933</option>
		<option value="1932">1932</option>
		<option value="1931">1931</option>
		<option value="1930">1930</option>
		<option value="1929">1929</option>
		<option value="1928">1928</option>
		<option value="1927">1927</option>
		<option value="1926">1926</option>
		<option value="1925">1925</option>
		<option value="1924">1924</option>
		<option value="1923">1923</option>
		<option value="1922">1922</option>
		<option value="1921">1921</option>
		<option value="1920">1920</option>
		<option value="1919">1919</option>
		<option value="1918">1918</option>
		<option value="1917">1917</option>
		<option value="1916">1916</option>
		<option value="1915">1915</option>
		<option value="1914">1914</option>
		<option value="1913">1913</option>
		<option value="1912">1912</option>
		<option value="1911">1911</option>
		<option value="1910">1910</option>
		<option value="1909">1909</option>
		<option value="1908">1908</option>
		<option value="1907">1907</option>
		<option value="1906">1906</option>
		<option value="1905">1905</option>
		<option value="1904">1904</option>
		<option value="1903">1903</option>
		<option value="1902">1902</option>
		<option value="1901">1901</option>
		<option value="1900">1900</option>
	   </select></br>


	  <label>The date of your visit:</label>
	<select name="survey[visit_month]" value=''>Select Month</option>
		<OPTION VALUE="">(Month)</OPTION> 
	<option value='01'>January</option>
	<option value='02'>February</option>
	<option value='03'>March</option>
	<option value='04'>April</option>
	<option value='05'>May</option>
	<option value='06'>June</option>
	<option value='07'>July</option>
	<option value='08'>August</option>
	<option value='09'>September</option>
	<option value='10'>October</option>
	<option value='11'>November</option>
	<option value='12'>December</option>
	</select>
	<select name="survey[visit_day]" >
		<OPTION VALUE="">(Day)</OPTION> 
	<option value='01'>01</option>
	<option value='02'>02</option>
	<option value='03'>03</option>
	<option value='04'>04</option>
	<option value='05'>05</option>
	<option value='06'>06</option>
	<option value='07'>07</option>
	<option value='08'>08</option>
	<option value='09'>09</option>
	<option value='10'>10</option>
	<option value='11'>11</option>
	<option value='12'>12</option>
	<option value='13'>13</option>
	<option value='14'>14</option>
	<option value='15'>15</option>
	<option value='16'>16</option>
	<option value='17'>17</option>
	<option value='18'>18</option>
	<option value='19'>19</option>
	<option value='20'>20</option>
	<option value='21'>21</option>
	<option value='22'>22</option>
	<option value='23'>23</option>
	<option value='24'>24</option>
	<option value='25'>25</option>
	<option value='26'>26</option>
	<option value='27'>27</option>
	<option value='28'>28</option>
	<option value='29'>29</option>
	<option value='30'>30</option>
	<option value='31'>31</option>
	</select>

	<select name="survey[visit_year]">
		<OPTION VALUE="">(Year)</OPTION> 
		<option value="2011">2011</option>
	   </select></br>

	  <label>The time of your visit:</label>
	<select name="survey[time_of_day]" value=''></option>
		<OPTION VALUE="">(Time of Day)</OPTION> 
	<option value='Lunch'>Lunch</option>
	<option value='Dinner'>Dinner</option>
	</select></br>


	  <label>The check number:</label>
	  <input type="text" name="survey[check_number]">

	  <label>Your servers name:</label>
	  <input type="text" name="survey[server_name]">
	</fieldset>
	<fieldset>
		<legend><h3>What brought you into the restaurant?</h3></legend>
	<p>
	<div class="radio2">
	<input id="business" name="survey[what_brought_you_to_restaurant]" type="radio" value="business" /><label for="business">Business</label>  

	<input id="pleasure" name="survey[what_brought_you_to_restaurant]" type="radio" value="pleasure" /><label for="pleasure">Pleasure</label>

	<input id="special" name="survey[what_brought_you_to_restaurant]" type="radio" value="special" /><label for="special">Special Occasion (Please Specify):</label>
	</div>

	<p><textarea id="post" name="survey[visit_special_occasion]"></textarea></p>
	</p>
	</fieldset>
	<fieldset>
		<legend><h3>Host Presentation</h3></legend>
	<p>
	  <label>Were you greeted promptly and courteously when you walked in the door?</label>
	  <input type="text" name="survey[experience_greeting]"></br>

	  <label>Where you seated at a table that was to your liking?</label>
	  <input type="text" name="survey[experience_table]"></br>

	  <label>Was the temperature of the restaurant comfortable?</label>
	  <input type="text" name="survey[experience_temperature]"></br>

	  <label>Was the noise level of the restaurant appropriate?</label>
	  <input type="text" name="survey[experience_noiselevel]">
	</p>
	</fieldset>
	<fieldset>
		<legend><h3>Server Presentation</h3></legend>
	<p>

	  <label> Once you were seated were you greeted within a reasonable amount of time?</label>
	  <input type="text" name="survey[experience_timing]"></br>

	  <label>Did your server make you feel like a valued guest?</label>
	  <input type="text" name="survey[experience_valued]"></br>

	  <label>Was your server knowledgeable about the menu?</label>
	  <input type="text" name="survey[experience_serverknowledge]"></br>

	  <label>Were you shown the dessert tray when you were finished with your meal?</label>
	  <input type="text" name="survey[experience_dessert]">
	</p>
	</fieldset>
	<fieldset>
		<legend><h3>When you received your meal...</h3></legend>
	<p>
	 <label>Did you feel it was served in a timely manner?</label>
	  <input type="text" name="survey[meal_timing]"></br>

	  <label>Was it served at the correct temperature?</label>
	  <input type="text" name="survey[meal_temperature]"></br>

	  <label>Was the presentation of the entree pleasing to the eye?</label>
	  <input type="text" name="survey[meal_appearance]">
	</p>
	</fieldset>

	<fieldset>
	<legend><h3>Overall Ratings</h3></legend>
	<tr><td><table  cellspacing="0" cellpadding="0" width="100%"><tr class="SurveyTableHeader"><td width="30%" ></td><td  id="matrix_header_4568008" valign="top" class="AnswerText"  width="75"  >Poor</td><td  id="matrix_header_4568009" valign="top" class="AnswerText"  width="75"  >Not So Good</td><td  id="matrix_header_4568010" valign="top" class="AnswerText"  width="75"  >Satisfactory</td><td  id="matrix_header_4568011" valign="top" class="AnswerText"  width="75"  >Pretty Great</td><td  id="matrix_header_4568013" valign="top" class="AnswerText"  width="75"  >Excellent</td></tr><tr class="AnswerText" id="qrow_1057667"  ><td  class="AnswerText" ><label>Overall dining experience?</label></td><td  valign="top" align="center"  class="AnswerText"   width="75"   > 
		<input id="overall_dining_experience_1" name="survey[overall_dining_experience]" type="radio" VALUE="poor" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText" width="75"   > 
		<input id="overall_dining_experience_2" name="survey[overall_dining_experience]" type="radio" VALUE="notsogood" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_3" name="survey[overall_dining_experience]" type="radio" VALUE="satisfactory" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_4" name="survey[overall_dining_experience]" type="radio" VALUE="prettygreat" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"   width="75"   > 
		<input id="overall_dining_experience_5" name="survey[overall_dining_experience]" type="radio" VALUE="excellent" onclick="" > 
		</td></tr><tr><td COLSPAN="7" class="QuestionError AnswerText" ></td></tr>
	<tr class="AnswerText" id="qrow_1057668"  ><td  class="AnswerText" ><label>Cleanliness?</label></td><td  valign="top" align="center"  class="AnswerText"   width="75"   > 
		<input id="overall_dining_experience_1" name="survey[cleanliness]" type="radio" VALUE="poor" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText" width="75"   > 
		<input id="overall_dining_experience_2" name="survey[cleanliness]" type="radio" VALUE="notsogood" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_3" name="survey[cleanliness]" type="radio" VALUE="satisfactory" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_4" name="survey[cleanliness]" type="radio" VALUE="prettygreat" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"   width="75"   > 
		<input id="overall_dining_experience_5" name="survey[cleanliness]" type="radio" VALUE="excellent" onclick="" > 
		</td></tr><tr><td COLSPAN="7" class="QuestionError AnswerText" ></td></tr>
	<tr class="AnswerText" id="qrow_1057669"  ><td  class="AnswerText" ><label>Quality of Atmosphere?</label></td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_1" name="survey[quality_atmosphere]" type="radio" VALUE="poor" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText" width="75"   > 
		<input id="overall_dining_experience_2" name="survey[quality_atmosphere]" type="radio" VALUE="notsogood" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_3" name="survey[quality_atmosphere]" type="radio" VALUE="satisfactory" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_4" name="survey[quality_atmosphere]" type="radio" VALUE="prettygreat" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"   width="75"   > 
		<input id="overall_dining_experience_5" name="survey[quality_atmosphere]" type="radio" VALUE="excellent" onclick="" > 
		</td></tr><tr><td COLSPAN="7" class="QuestionError AnswerText" ></td></tr>
	<tr class="AnswerText" id="qrow_1057670"  ><td  class="AnswerText" ><label>Value for cost of entire?</label></td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_1" name="survey[cost_value]" type="radio" VALUE="poor" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText" width="75"   > 
		<input id="overall_dining_experience_2" name="survey[cost_value]" type="radio" VALUE="notsogood" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_3" name="survey[cost_value]" type="radio" VALUE="satisfactory" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_4" name="survey[cost_value]" type="radio" VALUE="prettygreat" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"   width="75"   > 
		<input id="overall_dining_experience_5" name="survey[cost_value]" type="radio" VALUE="excellent" onclick="" > 
		</td></tr><tr><td COLSPAN="7" class="QuestionError AnswerText" ></td></tr>
	<tr class="AnswerText" id="qrow_1057671" ><td  class="AnswerText" ><label>Menu Selections?</label></td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_1" name="survey[menu_selections]" type="radio" VALUE="poor" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText" width="75"   > 
		<input id="overall_dining_experience_2" name="survey[menu_selections]" type="radio" VALUE="notsogood" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_3" name="survey[menu_selections]" type="radio" VALUE="satisfactory" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"  width="75"   > 
		<input id="overall_dining_experience_4" name="survey[menu_selections]" type="radio" VALUE="prettygreat" onclick="" > 
		</td><td  valign="top" align="center"  class="AnswerText"   width="75"   > 
		<input id="overall_dining_experience_5" name="survey[menu_selections]" type="radio" VALUE="excellent" onclick="" > 
		</td></tr><tr><td COLSPAN="7" class="QuestionError AnswerText" ></td></tr>
	</table></td></tr></table> </TD> 
	  <TD valign="top"> 

	  </TD> 
	</TR>
	 &nbsp; 
	<label>Was there an occurrence in which the staff did something special to make your visit wonderful?  If so, please tell us about it.</label>
	<p>
	<textarea id="post" name="survey[special_occurrence]"></textarea>
	</p>
	<label>Is there anything you would like to see added to our menu?</label>
	<p>
	<textarea id="post" name="survey[menu_addition]"></textarea>
	</p>
	</fieldset>
	  </ul>
	</div>
	  <p> <%= f.submit "submit" %></p>
	<% end %>
