<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
	<div class="container">
		<%= render 'layouts/header' %>
		<div id="contentheader"><h1><%= pagetitle %></h1></div>
			<div class="content"><div class="contentbg">
				<%= breadcrumb :pretext => "",
			                 :separator => ">",
			                 :autoroot => true,
			                 :show_root_alone => true,
			                 :link_last => true %>
				<%= render 'menu/menuheader' %>
				<%= yield %>
				<%= render 'menu/menufooter' %>
		</div></div>
		</div>
    </div>
		<%= render 'layouts/footer' %>
  </body>
</html>